.highlight {
    font-family: "Open Sans" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important; /* 125% */
}

.highlight:first-of-type {
    color: #F44336;
}